<configuration>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <property name="LOG_DIR" value="./logs"/>
    <property name="LOG_FILE" value="log"/>
    <appender name="TIME_BASED_FILE" class="org.apache.log4j.RollingFileAppender">
        <RollingFile name="RollingFile" fileName="${LOG_DIR}/${LOG_FILE}"
                     filePattern="${LOG_DIR}/%d{yyyy-MM-dd}/${LOG_FILE}.%d{yyyy-MM-dd-HH-mm}.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="6" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <!--        <encoder>-->
        <!--            <pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
        <!--        </encoder>-->
    </appender>

    <logger name="kafka" level="INFO" additivity="false">
        <appender-ref ref="TIME_BASED_FILE"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>